In [1]:
import os
os.chdir('../..')

In [2]:
import numpy as np
import pandas as pd

from CTABGAN.model.ctabgan import CTABGAN

# For the Python notebook
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [3]:
dataset = 'LPMC'

In [4]:
df = pd.read_csv('../data/{}/data.csv'.format(dataset), index_col=False)

In [5]:
df.head()

,travel_mode,purpose,fueltype,faretype,bus_scale,travel_year,travel_month,travel_date,day_of_week,start_time_linear,...,dur_pt_access,dur_pt_rail,dur_pt_bus,dur_pt_int,pt_n_interchanges,dur_driving,cost_transit,cost_driving_fuel,cost_driving_con_charge,driving_traffic_percent
0,drive,HBO,Petrol_Car,child,0.0,2012,4,1,7,10.000000,...,0.134444,0.0,0.016667,0.000000,0,0.052222,0.0,0.14,0.0,0.111702
1,drive,HBO,Petrol_Car,free,0.0,2012,4,1,7,17.666667,...,0.241389,0.0,0.122222,0.000000,0,0.132222,0.0,0.50,0.0,0.065126
2,drive,HBO,Petrol_Car,full,1.0,2012,4,1,7,13.000000,...,0.257500,0.0,0.873889,0.089444,1,0.508333,3.0,1.59,0.0,0.356831
3,pt,HBW,Average_Car,full,1.0,2012,4,1,7,21.500000,...,0.123889,0.0,0.208056,0.091667,1,0.115556,3.0,0.33,0.0,0.033654
4,pt,HBO,Average_Car,free,0.0,2012,4,1,7,8.916667,...,0.171389,0.0,0.334444,0.000000,0,0.196389,0.0,0.53,0.0,0.035361

In [6]:
if dataset is 'Chicago':
    discrete_columns = [
        'choice',
        'travel_dow',
        'trip_purpose',
        'hh_vehicles',
        'hh_size',
        'hh_bikes',
        'hh_descr',
        'hh_income',
        'gender',
        'license',
        'education_level',
        'work_status'
    ]
elif dataset is 'LPMC':
    discrete_columns = [
        'travel_mode',
        'purpose',
        'fueltype',
        'faretype',
        'bus_scale',
        'travel_year',
        'travel_month',
        'travel_date',
        'day_of_week',
        'female',
        'driving_license',
        'car_ownership',
        'pt_n_interchanges',
        'cost_driving_con_charge'
    ]

In [7]:
output_folder = '../output/TEST/CTABGAN/'

# Train the model

In [10]:
if dataset is 'Chicago':
    synthesizer =  CTABGAN(raw_csv_path = '../data/{}/data.csv'.format(dataset),
                     test_ratio = 0.2,
                     categorical_columns = discrete_columns, 
                     log_columns = [],
                     mixed_columns= {},
                     integer_columns = ['age'],
                     problem_type= {'Classification': 'choice'},
                     epochs = 1000)
elif dataset is 'LPMC':
    synthesizer =  CTABGAN(raw_csv_path = '../data/{}/data.csv'.format(dataset),
                 test_ratio = 0.2,
                 categorical_columns = discrete_columns, 
                 log_columns = [],
                 mixed_columns= {'dur_pt_rail': [0.0], 'dur_pt_bus': [0.0], 'dur_pt_int': [0.0], 'cost_transit': [0.0, 1.5]},
                 integer_columns = ['age', 'distance'],
                 problem_type= {'Classification': 'travel_mode'},
                 epochs = 1000)

In [11]:
synthesizer.fit()

100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [1:09:34<00:00,  4.17s/it]

Finished training in 4203.4115858078  seconds.

In [12]:
syn = synthesizer.generate_samples()

In [13]:
syn.to_csv('../synth_data/TEST/CTABGAN.csv', index= False)